    /* .Search-bar {
        display: block; /*takes the entire line
    } */

    .header {
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background-color: white;
        border-bottom-width:1px ;
        border-bottom-style: solid ;
        border-bottom-color:rgb(223, 223, 223) ;
        z-index: 100;/*header will appear on top of the all the content under it*/
    }

    .notifications-icon-container {
        position: relative;
    }
    .notifications-count {
        position:absolute;
        top: -2px;
        right: 0;
        background-color: rgb(202, 33, 33);
        color: white;
        font-size: 10px;
        padding-top: 2px;
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 2px;
        border-radius: 10px;
    }
    .left-section {
      
        align-items: center;
        display: flex;
    }
    .hamburger-menu {
        height: 30px;
        margin-left: 24px;
        margin-right: 24px;
    }

    .youtube-logo {
        height: 20px;
    }

    .middle-section {
   
        flex: 1;
        margin-left: 50px;
        max-width: 500px;
        align-items: center;
        display: flex;
    }
    .Search-bar {
        flex: 1;
        height: 36px;
        padding-left: 10px;
        font-size: 16px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(192,192,192);
        border-radius: 2px;
        box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);/*it will put the shadow inside*/
        width: 0;
    }
    .Search-bar::placeholder {
        font-family: Roboto, Aerial;
        font-size: 16px;
    }
    .search-button {
        height: 40px;
        width: 40px;
        border-width: 1px;
        border-style: solid;
        background-color: rgb(240,240,240);
        border-color: rgb(192,192,192);
        margin-left: -1px;
        margin-right: 2px;
        border-radius: 2px;
    
    }
    .search-icon {
        height: 25px;

    }

    .voice-button {
        border-radius: 20px;
        height: 40px;
        width: 40px;
        border: 0;
        margin-left: 5px;
        background-color: rgb(240,240,240);
    }

    .right-section {
        width: 180px;
        margin-left: 35px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;/* this means we are going to keep the width fixed and not shrink*/
    }
    
    .upload-icon, 
    .notifications-icon, 
    .current-user-picture,
    .youtube-apps-icon {
        height: 24px;
    }
    
    .current-user-picture {

        border-radius: 12px;
    }

    .upload-icon {

    }
    .notifications-icon {

    }
    .current-user-picture {

    }
    .youtube-apps-icon {

    }
    .search-button, .voice-button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .search-button .tooltip, .voice-button .tooltip {
        position: absolute;
        background-color: gray;
        color: white;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 2px;
        font-size: 12px;
        bottom: -20px;
        opacity: 0;
        transition: opacity 0.15s;
        pointer-events: none;
        white-space: nowrap;
    }

    .search-button:hover .tooltip,
    .voice-button:hover .tooltip {
        opacity: 1;
    }