.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top:60px;
    background-color: white;
    width: 80px;
}

.sidebar-link {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}

.sidebar-link:hover {
    background-color:lightgray;
}

.sidebar-link img {
    height: 30px;
    margin-bottom: 4px;

}
.sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 10px;

}