

    .thumbnail {
      width: 100%;
      /* object-fit: contain;  */
      /* object-position: right; */
    }



    /* .video-preview {
        width: 300px;
        display: inline-block; inline block has some alignment problems so we use css grid for proper alignment
        vertical-align: top;
        margin-right: 15px;   
      } */
    .channel-picture,
    .video-info {
      display: inline-block;
    }

    .video-info-grid {
      display: grid;
      grid-template-columns: 50px 1fr;
    }

    .channel-picture {
      width: 50px;
    }

    .video-title {
      margin-top: 0;
      margin-bottom: 12px;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }

    .video-info {
      width: 200px;
    }

    .video-author,
    .video-stats {
      font-size: 12px;
      color: rgb(96, 96, 96);
    }

    .video-author {
      margin-bottom: 4px;
    }

    .profile-picture {
      width: 40px;
      border-radius: 50px;
    }

    .thumbnail-row {
      margin-bottom: 12px;
      position: relative;
    }

    .video-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 16px;
      row-gap: 40px;
    
    }

    
      @media (max-width: 600px) {
  .video-grid { 
    grid-template-columns: repeat(2, 1fr); 
  }
}





    @media (min-width: 751px) and (max-width: 999px) {
        .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    @media (min-width: 1000px) {
       .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }

  

    .upload-icons, 
    .notifications-icon, 
    .current-user-picture {
        height: 24px;
    }
.video-time {
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 5px;
}

